@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&display=swap');
.actions {
    margin-top: 1rem;
    text-align: right;
}

h1 {
    color: black;
    text-align: left;
    font-family: 'Roboto Slab', serif;
}

.action {
    font: inherit;
    cursor: pointer;
    background-color: #77002e;
    color: yellow;
    padding: 0.5rem 1.5rem;
    border: 1px solid #77002e;
    border-radius: 4px;
    font-weight: bold;
}

.action:hover,
.action:active {
    background-color: #a50e48;
    border-color: #a50e48;
}

span {
    color: #77002e;
    font-size: 25px;
    font-family: 'Edu VIC WA NT Beginner', cursive;
}

#section-b .content-wrap {
    padding: 0 0.5em;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0.5rem 0;
}

p {
    margin: 0;
    padding: 1rem 0;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

#section-b {
    padding: 2em 1em 1em;
}

#section-b ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#section-b li {
    margin-bottom: 1em;
    background-color: white;
    color: #333;
}

.card-content {
    padding: 1.5em;
}

@media(min-width:700px) {
    .grid {
        display: flex;
        grid-template-columns: 1fr repeat(2, minmax(autofit, 25em))1fr;
    }
    .content-wrap,
    #section-b ul {
        grid-column: 3/4;
    }
    #section-b ul {
        display: flex;
        justify-content: space-between;
    }
    #section-b li {
        width: 35%;
    }
}

.action-1 {
    font: inherit;
    cursor: pointer;
    background-color: yellow;
    color: #77002e;
    padding: 0.5rem 1.5rem;
    border: 1px solid yellow;
    border-radius: 4px;
    font-weight: bold;
}

.action-1:hover,
.action-1:active {
    background-color: gray;
    border-color: #fff;
    color: white;
}